.container{
    
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width:calc($tablet - 1px)) {
        min-width: 320px;
        max-width: $mobile;
    }
    @media screen and (min-width:$tablet) and (max-width:calc($desktop - 1px)) {
        width: $tablet;
    }
    @media screen and (min-width:$desktop) {
        width: $desktop;
    }
}
