.feature__box{
    display: flex;
    align-items: center;
    justify-content: center;
    width:270px;
    height:120px;
    background-color: $secondary-background;
    margin-bottom: 30px;
    gap: 30px;
}
.features__icon{
    width: 70px;
    height: 70px;
}
.features{
    display: flex;
    align-items: center;
}
.features__item{
    min-height: 270px;
}

 .features__item+.features__item{
margin-left: 30px;
}
.features__title{
    font-size: 14px;
    line-height: calc(16/14);
    text-transform: uppercase;
    margin-bottom: 10px;
    color: $title-text-color;
}
.features__text{
    font-size: 14px;
    line-height: calc(24/14);
    color: $primary-text-color;
}