.underline{
    border-bottom: 1px solid $line;
}
.button-list{
    display: flex;
    flex-wrap: wrap;
   margin-bottom: 50px;
    @media screen and(min-width:$tablet){
        justify-content: center;
        flex-wrap: nowrap;
    }
}
.button-list__item{
    &:not(:last-child){
    margin-right: 8px;
}
    @media screen and(max-width:$tablet){
        &:first-child{
            margin-bottom: 15px;
        }
    }
}

