.site-nav{
    display: none;

    @media screen and(min-width:$tablet){
    display: flex;
    margin-left: 87px;
    }
    @media screen and(min-width:$desktop){
        margin-left: 92px;
        }
    
}

.site-nav__links{
    font-weight: 500;
    font-size: 40px;
    line-height: calc(47/40);
    letter-spacing: 0.02em;
    color: $title-text-color;
   
    @media screen and(min-width:$tablet){
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 0;
    position: relative;
    transition: color $time $cubic;
    
    }
    
    &:hover,
    &:focus{
        color: $accent-color;
    }
}

.site-nav__item{
    margin-bottom: 32px;
    @media screen and(min-width:$tablet){
        margin-bottom: 0;
        &:not(:last-child){
            margin-right:50px;
            
        }
    }
}
    
.site-nav__links--current{
    color: $accent-color;
    @media screen and(min-width:$tablet){
        &:after{
            content: '';
            display: block;
            width: 100%;
            height: 4px;
            background-color: $accent-color;
            border-radius: 2px;
            position: absolute;
            
            bottom: 0;
        }
    }
    
}
