img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  body{
    margin: 0;
    background-color:$white;
    color: $primary-text-color ;
    font-family:$primary-font;
    letter-spacing: 0.03em;
    }