.card__list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.card__ref{
    text-decoration: none;
    display: block;
    transition: box-shadow $time $cubic;
    overflow: hidden;

    &:hover,
    &:focus{
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    
}

.card__thumb{
    position: relative;
    overflow: hidden;
    }
   
    .card__overlay{
    font-weight: 400;
    font-size: 18px;
    line-height: calc(29/18);
    color: $white;
    min-width: 322px;
    }
    
    .card__item{
        background: $white;
        margin-bottom: 30px;

        &:nth-child(n+7){
            margin-bottom: 0;
           }

       }

    .card__box{
         border-bottom: 1px solid $line;
         border-left: 1px solid $line;
         border-right: 1px solid $line;
         padding-bottom: 20px;
         padding-left: 24px; 
         padding-top: 20px;
    }
    
    
    .card__titile{
    color: $title-text-color;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36/18);
    margin-bottom: 4px;
    }

    .card__text{
    color: $primary-text-color;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(30/16);
    
    }
    .card__animation{
        position: absolute;
        top: 0;
        left:0;
        width: 100%;
        height: 100%;
        padding-top: 63px;
        padding-bottom: 63px;
        padding-left: 24px;
        padding-right: 47px;
        background-color: $card-text-color;
        transform: translateY(+100%);
        transition: transform $time $cubic;
        
        .card__ref:hover &,
        .card__ref:focus &{
            transform: translateY(0);
        }

    }