
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 95%;
    height: 75%;
    padding: 40px;
    transform: translate(-50%, -50%) scale(1);
    background-color: $white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    opacity: 1;
    transition: transform $time $cubic,
    opacity $time $cubic;
    .backdrop.is-hidden &{
        opacity: 0;
        transform: translate(-50%, -50%) scale(1.2);
    }
    @media screen and(min-width:$tablet)and(max-width:calc($desktop - 1px)){
       width: 450px;
       height: 630px;
    }
    @media screen and(min-width:$desktop){
        width:528px;
        height: initial;
    }
    }
    
        
    


.modal-form__group{
    margin-bottom: 20px;
}
.modal-form__field{
    width: 100%;
    height: 40px;
    color: $black;
    padding-left: 42px;
    padding-top: 12px;
    padding-bottom: 12px;
    outline-color: rgba(33, 33, 33, 0.2);
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: none;
    border-radius: 4px;
    transition: border-color $time $cubic,
    outline $time $cubic ;
    &:focus{
        border-color: $accent-color;
        outline-color: $accent-color;
    }
    &:focus + .modal-form__icon{
        fill: $accent-color;
    }
}

.modal__icon{
width: 18px;
height: 18px;
fill: currentColor;
}
.modal-form__label{
    display: block;
}
.modal-form__icon{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill $time $cubic;
}
.modal-form__wrapper{
    position: relative;
    margin-top: 4px;
    margin-bottom: 10px;
    color: $black;
    transition: color $time $cubic;
    &:focus,
    &:hover{
        color: $accent-color;
    }
}
.modal__title{
display: block;
margin-bottom: 12px;
font-weight: 700;
font-size: 20px;
line-height: calc(30/20);
text-align: center;
color: $black;
@media screen and(min-width:$desktop){
    line-height: calc(23/20);
}
}
.modal-form__label{
color: $primary-text-color;
font-weight: 400;
font-size: 12px;
line-height: calc(14/12);
letter-spacing: 0.01em;
}
.modal-form__comment{
display: block;
margin-top: 4px;
padding: 12px 16px;
color: $black;
resize: none;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
outline-color: rgba(33, 33, 33, 0.2);
width: 100%;
height: 120px;
outline: none;
transition: border-color $time $cubic;
outline: $time $cubic;
&:focus{
    border-color: $accent-color;
    outline-color: $accent-color;
}
    &::placeholder{
        font-weight: 400;
        font-size: 12px;
        line-height: calc(14/12);
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
}


.modal-form__user-agreement{
user-select:none;
-webkit-user-select: none;
font-weight: 400;
font-size: 14px;
line-height: calc(24/14);
letter-spacing: 0.03em;
color: $primary-text-color;

}
.user-agreement__link{
    color: $accent-color;
    text-underline-offset: 3px ;
}

.modal-form__agreement{
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: center;
   margin-bottom: 30px;
}

.modal-form__checkbox{
appearance: none;
width: 16px;
height: 15px;
border: 2px solid $black;
border-radius: 2px;

background-position: center;
background-repeat: no-repeat;
background-size: 0;
transition: background-size $time$cubic,
background-color $time$cubic,
border-color $time$cubic;
&:checked{
    border-color: $accent-color; 
    background-color: $accent-color;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E%0A");
    background-size: 11px 8px;
}
}
