h1,h2,h3,a,p,li,ul{
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    font-style: normal
  }
ul {
    list-style:none;
}

.section.no_padding{
    padding-top: 0;
    @media screen  and (max-width:calc($desktop - 1px)){
        display: none;
    }
    }
.link,
.adress,
.auth{
   text-decoration: none; 
}